# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# PROTECTED LOCAL FILES (DEV)
PROJECTINFO.md
~

# Lock files
package-lock.json
/src-tauri/Cargo.lock

node_modules
dist
dist-ssr
*.local

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/.vscode
/.vs

/node_modules
/dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri DB 
/src-tauri/*.db
/src-tauri/*.sqlite
