.multi-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
}

.multi-input-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    background-color: var(--colorMid);
    cursor: pointer;
    gap: 0.25rem;
    border-radius: 0.25rem;
}

.multi-input-input {
    flex: 1;
    padding: 0.25rem;
    background-color: var(--colorLight);
    color: var(--colorText);
    border: none;
    border-bottom: 1px solid var(--border-color);
    transition: all 0.3s;
    resize: none;
}

.multi-input-input:focus {
    outline: none;
    border-bottom: 1px solid var(--border-color);
}
