.file-pane {
    background-color: var(--colorDark);
    border: var(--border-color) solid 1px;
    border-top: none;
    min-width: 300px;
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    height: calc((var(--vh, 1vh) * 100) - 100px);
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--colorLight);
    color: var(--colorText);
}

.repo-toolbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid var(--border-color);
}

.repo-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.repo-toolbar-button {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0.75rem;
    align-items: center;
    background-color: var(--colorDark);
    width: 100%;
    color: var(--colorText);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
}

.toolbar-button {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    align-items: center;
    background-color: var(--colorDark);
    width: 100%;
    color: var(--colorText);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorDark);
    padding: 0.5rem 0.75rem;
    color: var(--colorText);
    border: none;
    border-radius: 0;
    border-top: var(--border-color) solid 1px;
    border-bottom: var(--border-color) solid 1px;
    user-select: none;
}

.searchbar:focus {
    outline: none;
}

.file-view {
    flex: 1;
    overflow-y: auto;
    user-select: none;
    overflow-x: hidden;
}

.file-view:focus {
    outline: none;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorMid);
    border-radius: 0.5rem;
}

.list-item {
    background-color: var(--colorMid);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.75rem;
    width: 100%;
    color: var(--colorText);
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
    border-top: var(--border-color) solid 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* Ensure first list-item in a list has no top border */
.list-item:first-child {
    border-top: none;
}


.list-item:hover {
    background-color: var(--border-color);
}

.selected {
    background-color: var(--border-color);
    /* Green left border */
    border-left: 3px solid var(--accent-1);
}

.inaccessible {
    background-color: var(--colorMid);
    border-left: 3px solid var(--accent-2);
}

.list-item.inaccessible.selected {
    background-color: var(--border-color);
}

.progress-item {
    background-color: var(--colorMid);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    width: 100%;
    color: var(--colorText);
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
    border-top: var(--border-color) solid 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sort-options {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorText);
    border-top: var(--border-color) solid 1px;
}

/* Dropdown menu styling */
.dropdown-menu {
    background-color: var(--colorDark);
    color: var(--colorText);
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
    appearance: none; /* Remove default browser styling */
    width: 100%;
    border: none;
    user-select: none;
    text-align: center;
  }
  
  /* When focused, darken the background slightly */
  .dropdown-menu:focus,
  .dropdown-menu:hover {
    background-color: var(--colorLight);
    outline: none;
  }
  
  /* Ascending/descending toggle button styling */
  .sort-toggle-button {
    background-color: var(--colorDark);
    color: var(--colorText);
    padding: 0.5rem;
    border: none;
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 0.25rem;
  }
  
  /* Hover effect for the toggle button */
  .sort-toggle-button:hover {
    background-color: var(--colorLight);
  }
  