.file-pane {
    background-color: #1a1a1a;
    border: black solid 1px;
    border-top: none;
    min-width: 300px;
    max-width: 25vw;
    display: flex;
    flex-direction: column;
    height: calc((var(--vh, 1vh) * 100) - 100px);
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2a2a2a;
    color: white;
}

.repo-toolbar-button {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0.75rem;
    align-items: center;
    background-color: #1a1a1a;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
}

.toolbar-button {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    align-items: center;
    background-color: #1a1a1a;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    padding: 0.5rem 0.75rem;
    color: white;
    border: none;
    border-radius: 0;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    user-select: none;
}

.searchbar:focus {
    outline: none;
}

.file-view {
    flex: 1;
    overflow-y: auto;
    user-select: none;
    overflow-x: hidden;
}

.file-view:focus {
    outline: none;
}

.file-list {
    display: flex;
    flex-wrap: wrap;
    background-color: #202020;
    border-radius: 0.5rem;
}

.list-item {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.75rem;
    width: 100%;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
    border-top: black solid 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* Ensure first list-item in a list has no top border */
.list-item:first-child {
    border-top: none;
}


.list-item:hover {
    background-color: #2a2a2a;
}

.selected {
    background-color: #3a3a3a;
    /* Green left border */
    border-left: 3px solid #00ff00;
}

.inaccessible {
    background-color: #202020;
    border-left: 3px solid #fbff00;
}

.list-item.inaccessible.selected {
    background-color: #3a3a3a;
}

.progress-item {
    background-color: #202020;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    width: 100%;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    user-select: none;
    border-top: black solid 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sort-options {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-top: black solid 1px;
}

/* Dropdown menu styling */
.dropdown-menu {
    background-color: #1a1a1a;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
    appearance: none; /* Remove default browser styling */
    width: 100%;
    border: none;
    user-select: none;
    text-align: center;
  }
  
  /* When focused, darken the background slightly */
  .dropdown-menu:focus,
  .dropdown-menu:hover {
    background-color: #2a2a2a;
    outline: none;
  }
  
  /* Ascending/descending toggle button styling */
  .sort-toggle-button {
    background-color: #1a1a1a;
    color: white;
    padding: 0.5rem;
    border: none;
    font-size: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 0.25rem;
  }
  
  /* Hover effect for the toggle button */
  .sort-toggle-button:hover {
    background-color: #2a2a2a;
  }
  