:root {
  font-family: 'Inter', sans-serif;
  background-color: var(--colorMid);
  color: white;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  src: url('./assets/fonts/Inter_Italic_VariableFont_opsz_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('./assets/fonts/Inter_VariableFont_opsz_wght.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: var(--colorText);
  scrollbar-width: thin; /* options: auto, thin */
  scrollbar-color: var(--colorDark) var(--colorLight) ; /* thumb color, track color */
}

html,
body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--colorMid);
}


h4 {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
  user-select: none;
}

h5 {
  font-size: 0.75rem;
  color: var(--colorSubtitle);
  font-weight: 500;
  margin: 0;
  user-select: none;
}

h6 {
  font-size: 0.75rem;
  color: var(--colorText);
  font-weight:500;
  margin: 0;
  user-select: none;
  display: flex;
  gap: 0.25rem;
  flex-direction: row;
}

/* Overall scrollbar width */
::-webkit-scrollbar {
  width: 12px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--colorLight);
  border-radius: 10px;
  border: 3px solid var(--colorMid);
}

/* Optional: Change thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-color);
}

.app {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.panel-container  {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.right-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.disabled {
  pointer-events: none;
  filter: blur(0.15rem);
}

a {
  text-decoration: underline;
  color: var(--colorText);
  font-weight: 500;
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none;
  color: var(--colorSubtitle);
}


.tab-bar {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  background-color: var(--colorDark);
  user-select: none;
  border-bottom: 1px solid var(--border-color);
  overflow-x: auto;
}

.tab-add {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colorDark);
  color: var(--colorText);
  padding: 0.55rem 0.5rem;
  border-right: 1px solid var(--border-color);
  cursor: pointer;
}

.tab-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--colorDark);
  color: var(--colorText);
  padding: 0.55rem 0.5rem;
  border-right: 1px solid var(--border-color);
  cursor: pointer;
  text-wrap: nowrap;
}

.DropdownMenuItem.Tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--colorText);
  cursor: pointer;
}

.tab-item.active {
  background-color: var(--colorLight);
  color: var(--colorText);
  font-weight: bold;
}

.tab-item button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.tab-close {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
}

.tab-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}
